@keyframes progressAnimation{

    to{transform: rotate(360deg) ;}

}

.backgroundSearchTeacher, .backgroundVerify{

    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-Mode);
    width: 40%;
    height: 40vh;
    border-radius: 10px;
    padding-bottom: 50px;
    padding-top: 50px; 
    padding-left: 40px;
    padding-right: 40px;
    animation-name: showBackground;
    animation-duration: 0.8s;
    animation-fill-mode: backwards;
}

.backgroundVerify{

    display: none ;
    width: 60%;
    height: 60vh;
    border-radius: 10px;
    padding-bottom: 50px;
    padding-top: 50px; 
    padding-left: 100px;
    padding-right: 100px;
}

.subTitleGrade{

    font-size: calc(100% + 0.8vmin);
    margin-top: 10px;
    font-weight: 0;
    letter-spacing: 3px;
    text-align: center;
    color: var(--font-Color);

}

.infoStudents{
    align-self: flex-start;
    margin-top: 20px;
}


.nameStudent, .emailStudent, .yearStudent, .registerStudent{
    font-size: 24px;
    margin-top: 10px;
    color: var(--font-Color) !important;
}

.input-container {
    position: relative;
    width: 300px;
    top: 30px

}

.input-edit, .input-add, .input-title, .input-titleEdit{

    display: none;
    margin: auto;
    position: relative;
    width: 80%;
    top: 20px;

}


.input-title, .input-titleEdit, .input-add{

    display: block;

}
  
.input-container input, 
.input-title input, 
.input-edit textarea, 
.input-add textarea,
.input-titleEdit input 
{
    background-color: var(--light-Mode);
    width: 100%;
    padding: 10px;
    padding-top: 16px; 
    font-size: 16px;
    
    border: 2px solid var(--font-Color);
    border-radius: 4px;
    outline: none;
    transition:  0.3s ease;
}
  
.titleOccurrences:focus, .username:focus {
    border-color: #4285f4 !important;


}
  
.input-container input:focus
.input-title input:focus, 
.input-titleEdit input:focus
.input-edit textarea:focus, 
.input-add textarea:focus {
    border-color: #4285f4;
}

.input-add textarea{

    display: block;

}
  
.input-container label, 
.input-container label,
.input-title label, 
.input-title label 
.input-titleEdit label, 
.input-titleEdit label{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: var(--font-Color);
    background: var(--light-Mode); 
    padding: 0 4px; 
    transition: 0.3s ease;
    pointer-events: none; 

}
 
.input-container input:focus + label,
.input-container input:valid + label,
.input-title input:focus + label,
.input-title input:valid + label,
.input-titleEdit input:focus + label,
.input-titleEdit input:valid + label{
    top: -10px; 
    left: 10px;
    font-size: 12px;
    color: #4285f4; 


}

.input-date input[type="date"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--light-Mode);
    width: 200px;
    padding: 10px;
    padding-top: 16px; 
    font-size: 16px;
    border: 2px solid var(--font-Color);
    border-radius: 4px;
    outline: none;
    transition: 0.3s ease;
    color: var(--font-Color)
}

.input-date input[type="date"]:focus {
    border-color: #4285f4;
}

.input-date input[type="date"]:focus + label,
.input-date input[type="date"]:valid + label {
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #4285f4;
}

.input-date input[type="date"]::-webkit-calendar-picker-indicator {
    
    filter: invert(100%);
}


.input-edit label, .input-edit label, 
.input-add label, .input-add label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: var(--font-Color);
    background: var(--light-Mode); 
    padding: 0 4px; 
    transition: 0.3s ease;
    pointer-events: none; 

}

.input-edit textarea:focus + label,
.input-edit textarea:valid + label, 
.input-add textarea:focus + label,
.input-add textarea:valid + label {
    top: -10px; 
    left: 10px;
    font-size: 14px;
    color: #4285f4; 
}

.input-edit textarea::-webkit-scrollbar, .input-add textarea::-webkit-scrollbar {
    width: 8px; 
    
}

.input-edit textarea::-webkit-scrollbar-thumb, .input-add textarea::-webkit-scrollbar-thumb {
    background-color: #4285f4; /* Cor da "thumb" */
    border-radius: 10px; /* Arredonda os cantos da thumb */
}

.input-edit textarea::-webkit-scrollbar-track, .input-add textarea::-webkit-scrollbar-track  {
    background-color: var(--light-Mode); 
    border-radius: 10px;
}

.input-edit textarea::-webkit-scrollbar-thumb:hover, .input-add textarea::-webkit-scrollbar-thumb:hover{
    cursor: pointer;
    background-color: #3367d6; 
 
}

.edit, .add{
    display: none;
    padding: 30px;
    font-size: 16px;
    border: 2px solid var(--font-Color);
    border-radius: 4px;
    outline: none;
    resize: none;
    box-sizing: border-box;
    overflow-wrap: break-word; 
    white-space: pre-wrap;
    word-wrap: break-word; 
    background-color: var(--light-Mode);
    color: var(--font-Color);

}


.select, .selectEdit{
    background-color: var(--light-Mode);
    width: 200px;
    padding: 10px;
    font-size: 16px;
    color: var(--font-Color);
    text-align: center;
    border: 2px solid var(--font-Color);
    border-radius: 4px;
    outline: none;
    transition: 0.3s ease;
    appearance: none; 
    -moz-appearance: none; 
    -webkit-appearance: none;
    position: relative;
}

.select:focus, .selectEdit:focus {
    border-color: #4285f4;
}


.select-container, .select-containerEdit {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

.select-container::after, .select-containerEdit::after {
    content: "▼";
    position: absolute;
    right: calc(50% - 90px); /* Posiciona a seta no select */
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: var(--font-Color);
    pointer-events: none;
}
.select-container label, .select-containerEdit label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: var(--font-Color);
    background: var(--light-Mode);
    padding: 0 4px;
    transition: 0.3s ease;
    pointer-events: none;
}

.select:focus + label,
.select:valid + label,
.selectEdit:focus + label,
.selectEdit:valid + label
{
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #4285f4;
}

.gradesDevelopedTeacher td, .gradesDevelopedTeacher th, .absencesDeveloped th, .absencesDeveloped td{

    border: 1px solid rgb(68, 113, 143);
    padding: 5px;

}

.backArrowTeacher{
    position: absolute;
    left: 30px;
    top: 20px;
    transition: all .4s ease;
}

.backArrowTeacher:hover, .backArrowTeacherGrade:hover{

    cursor: pointer;
    filter: invert(55%);    
    transform: translateX(10%);

}

.backArrowTeacherGrade{

    position: absolute;
    left: 130px;
    top: 120px;
    transition: all .4s ease;

}


.TeacherSubmit{
    
    width: 250px !important;

}

.occurrenceBtn{

    display: flex;  
    flex-direction: row;
    justify-content: center;

}

.occurrenceBtn_2{

    display: flex;  
    flex-direction: column;
    align-items: center;

}

.Submit, .compOccurrence, .Correct, .addOccurrence, .remOccurrence, .editOccurrence, .deleteOccurrence{
    
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    border: none;
    margin-top: 60px;
    color: white;
    font-size: 17px;
    background: linear-gradient(80deg, rgb(83, 154, 247), #496ef7);
    transition: all .4s ease;
    padding: 8px;

}

.No, .deleteOccurrence{
    margin-top: 20px;
    background: linear-gradient(80deg, rgb(243, 70, 70), #fc6363);

}

.addOccurrence, .remOccurrence{
    
    margin-top: 30px !important;
    margin-bottom: 30px;

}

.remOccurrence{
    background: linear-gradient(80deg, rgb(243, 70, 70), #fc6363);
    margin-left: 40px;
}

.No:hover, .remOccurrence:hover, .deleteOccurrence:hover{

    transform: scale(1.1);
    letter-spacing: 2px;
    background: linear-gradient(80deg, #fc6363, rgb(243, 70, 70)) !important;

}

.Submit:hover, .Correct:hover, .addOccurrence:hover, .editOccurrence:hover, .compOccurrence:hover {

    transform: scale(1.1);
    letter-spacing: 2px;
    background: linear-gradient(80deg, #496ef7, rgb(83, 154, 247));

}

.advice-Error{

    color:red;

}

.progress, .progressAdd{

    display: none;
    position: absolute;

    width: 60px;
    height: 60px;

    border-radius: 100%;
    border-width: 7px;

    border-style: solid;
    border-color: rgb(223, 221, 221);
    
    border-left-color: rgb(33, 106, 207);

    animation-name: progressAnimation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 0.7s;

}

input[type=number]{

    outline: none;
    -moz-appearance: textfield;
    width: 60px;
    height: 40px;
    background-color: var(--light-Mode);
    padding: 10px;
    text-align: center;
    color: var(--font-Color);
    transition: all .3s ease;
    border-width: 3px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    
}

input[type=number]:focus{

    transform: scaleY(1.2);
    transform: scaleX(1.2);
    border-color: #4285f4;

}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.descriptionSuccess{

    display: none ;
    width: 50%;
}

.paragraphSuccess{

    text-align: center !important;

}

.statusOccurrences, .statusActivities{

    font-size: 23px;

}

.titOccurrences, .titActivities{

    font-size: 23px;
    margin-top: 25px;

}

.paragraphOccurrences, .paragraphActivities{

    text-align: center !important;

}


@media screen and (max-width: 1114px){

    .backgroundGradeTeacher_2{

        padding-top: 70px;
        padding-left: 100px;
        padding-right: 100px;

    }
    
    .subTitleGrade {

        font-size: calc(100% + 0.4vmin)

    }

    .nameStudent, .emailStudent, .yearStudent, .registerStudent{

        text-align: center;
        font-size: calc(100% + 0.4vmin)
    }


    .backgroundSearchTeacher{
        padding-bottom: 30vh;

        width: 80%;
        height: 40vh;
    }
    
    .infoStudents{

        align-self: center;

    }
    
    .backgroundVerify{
        
        height: 60vh;

    }

    .backArrow{
        position: absolute;
        left: 7%;
        top: 11%;
    }

    .addOccurrence, .remOccurrence{

        width: 120px;
        
        font-size: 13px;

    }

    .background-Certification{

        width: 85%;
    }


}

@media screen and (max-width: 1000px){

    .backArrowTeacherAct{
        top: 31%;
        left: 2%
    }
    
}

@media screen and (max-width: 850px){

    .backgroundVerify{

        width: 90%;
        
        height: 70vh;

    }

    .descriptionSuccess{

        display: none ;
        width: 70%;
    }
    .paragraphSuccess{

        font-size: calc(100% + 0.5vmin);

    }
}

@media screen and (max-width: 488px){

    .background-Certification{

        width: 92%;
    }
    .descriptionSuccess{

        display: none ;
        width: 90%;
    }
    .subTitleGrade {
        font-size: calc(0.8rem + 0.5vw); 
        overflow: hidden; 
        text-align: center; /
    }
    
    .backgroundSearchTeacher{
        width: 90%;
        height: 40vh;
    }

    .input-container{

        width: 200px !important;

    }

    .backArrowTeacherGrade{

        position: absolute;
        left: 11%;
        top: 34%;

    
    }
    
    .backArrowTeacher{
        left: 5%;
        top: 2%;

    }

    .backArrow{
        position: absolute;
        left: 7%;
        top: 33%;
    }


    .backgroundGradeTeacher_2{

        padding-top: 70px;
        padding-left: 60px;
        padding-right: 60px;

    }

    .backgroundAbsences_2{

        padding-top: 70px;
        padding-left: 80px;
        padding-right: 80px;
    }

    .titleGrades{
        font-size: calc(100% + 1vmin); 
        letter-spacing: 0px; 
        background-image: linear-gradient(80deg, rgb(1, 39, 255), rgb(57, 138, 252), #2f49a8);
        color: var(--font-Color);
    }

    .statusOccurrences, .titOccurrences{

        font-size: calc(100% + 1.2vmin);

    }

    .paragraphOccurrences{

        font-size: calc(100% + 1vmin);

    }

    
    .TeacherSubmit{
    
        width: 70% !important;
    
    }

    .backArrowTeacherAct{
        top: 30%;
        left: 2%
    }
}

@media screen and (max-width: 332px){
    .titleGrades, .teacherTitleGrade {
        font-size: calc(90% + 1vmin);
        letter-spacing: 0; 
        text-align: center; 
        margin: 10px 15px; 
        background-image: linear-gradient(90deg, #0137ff, #3995fc, #2f49a8); /* Gradiente ajustado */
        overflow: visible; 
        text-align: center; 
    }

    .backgroundSearchTeacher{

        padding-bottom: 150px;

    }
    .addOccurrence, .remOccurrence{

        width: 150px;

        font-size: 12px;

    }
}

@media screen and (max-height: 800px){


    .backgroundVerify{

        height: 550px;

    }

    .backgroundSearchTeacher{

        height: 400px;

    }
    
}